* {
  font-family: helvetica, sans-serif;
  font-weight: bold;
}

.body {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.actions {
  display: inline-block;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  right: 25%;
  left: 50%;
  margin-left: -150px;
}

#box_close {
  position: absolute;
  width: 256px;
  height: 512px;
  top: 75%;
  left: 53%;
  overflow: hidden;
  z-index: 1;
}

#image1 {
  position: absolute;
  width: 100px;
  height: auto;
  float: left;
}

#image2 {
  width: 100px;
  height: auto;
  float: left;
}

#image3 {
  width: 100px;
  height: auto;
  float: left;
}
