* {
  font-family: helvetica, sans-serif;
  font-weight: bold;
}

.body {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.actions {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  right: 25%;
  left: 50%;
  margin-left: -150px;
}

.gift_box {
  position: absolute;
  width: 209px;
  height: 148px;
  top: 50%;
  left: 70%;
  box-sizing: border-box;
  border: 5px solid black;
  border-radius: 40px 40px 50px 50px / 74px 74px 74px 74px;
  box-shadow: inset -30px 0 0 0 rgba(54, 125, 231, 0.2);
  overflow: hidden;
  z-index: 1;
}

#cf_controls div {
  cursor:pointer;
}

.image1 {
  width: 100px;
  height: auto;
  /* -webkit-animation: myOrbit 2s ease-in-out ; 
  -moz-animation: myOrbit 2s ease-in-out ;
  -o-animation: myOrbit 2s ease-in-out ; 
  animation: myOrbit 2s ease-in-out ;  */

  -webkit-animation: image1 15s infinite linear;
  animation: image1 15s infinite linear
}



@-webkit-keyframes myOrbit {
  from { -webkit-transform: scale(1.5,1.5) rotate(0deg) translate(30px,0px) rotate(0deg); }
  to   { -webkit-transform: scale(1,1) rotate(270deg) translate(400px,600px) rotate(-90deg); }
}

@-moz-keyframes myOrbit {
  from { -moz-transform: scale(1.5,1.5) rotate(0deg) translate(30px,0px) rotate(0deg); }
  to   { -moz-transform: scale(1,1) rotate(270deg) translate(400px,600px) rotate(-90deg); }
}

@-o-keyframes myOrbit {
  from { -o-transform: scale(1.5,1.5) rotate(0deg) translate(30px,0px) rotate(0deg); }
  to   { -o-transform: scale(1,1) rotate(270deg) translate(400px,600px) rotate(-90deg); }
}

@keyframes myOrbit {
  from { transform: scale(1.5,1.5) rotate(0deg) translate(30px,0px) rotate(0deg); }
  to   { transform: scale(1,1) rotate(270deg) translate(400px,600px) rotate(-90deg); }
}
.image2 {
  width: 100px;
  height: auto;
  -webkit-transition: all 500ms cubic-bezier(0.000, 1, 1.000, 1); /* older webkit */
-webkit-transition: all 500ms cubic-bezier(0.000, 1.650, 1.000, 1.650); 
   -moz-transition: all 500ms cubic-bezier(0.000, 1.650, 1.000, 1.650); 
     -o-transition: all 500ms cubic-bezier(0.000, 1.650, 1.000, 1.650); 
        transition: all 500ms cubic-bezier(0.000, 1.650, 1.000, 1.650); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.000, 1, 1.000, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.000, 1.650, 1.000, 1.650); 
   -moz-transition-timing-function: cubic-bezier(0.000, 1.650, 1.000, 1.650); 
     -o-transition-timing-function: cubic-bezier(0.000, 1.650, 1.000, 1.650); 
        transition-timing-function: cubic-bezier(0.000, 1.650, 1.000, 1.650); /* custom */
}

.image3 {
  width: 100px;
  height: auto;
}

@-webkit-keyframes image1 {
 
  9.36% {
    -webkit-transform: translate(100px, -150px);
  }
  18.72% {
    -webkit-transform: translate(150px, -200px);
  }
  43.68% {
    -webkit-transform: translate(200px, -300px) scale(2, 2);
  }
  60.84% {
    -webkit-transform: translate(250px, -350px);
  }
  78% {
    -webkit-transform: translate(300px, -350px);
  }
  85.8% {
    -webkit-transform: translate(450px, -250px);
  }
  93.6% {
    -webkit-transform: translate(450px, -200px);
  }
  100% {
    -webkit-transform: translate(400px, -164px) scale(0, 0);
  }
}



